.home {
    .home-jumbotron {
        height: 465px;
        background-color: rgba(white, 0.7);
        color: black;
        @include flex($center: true);
        text-align: center;
    }

    .link {
        padding-bottom: 6px;
        border-bottom: 2px solid;
        font-weight: 700;
    }

    .business-msg {
        text-align: center;
    }

    .business-msg__container {
        max-width: 400px;
        margin: 0 auto;
    }

    .business-msg__title {
        font-weight: 600;
        margin-bottom: 24px;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 4%;
    }
}