$breakpoints:('xs':400px,
    'sm':599px, //Must be one less than med
    'med':600px,
    'large':1000px,
);
$font-stack-primary: 'Josefin Sans',
sans-serif;

$font-stack-secondary: 'Josefin Sans',
sans-serif;


$main-content-width: 700px;
$d-box-shadow:0 4px 20px rgba(0, 0, 0, .12);


$font-base: 1rem;
$font-larger: 1.333rem;
$font-med: 1.777rem;
$font-lg: 2.369rem;
$font-xl: 3.157rem;
$font-xxl: 4.209rem;

$white: white;
$body-bg: white;
$link-color: black;
$base-color:black;
$color-theme-primary:rgb(216, 124, 114);
$color-theme-secondary:#2e2e2e;
$color-theme-tertiary:$white;
$color-theme-third:$white;